.cover__link {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  z-index: 1;
  margin: 0 auto;
}

.cover__link::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
}

.cover__link:hover::after{
  opacity: 0.8;
}
