.places {
  max-width: 984px;
  margin:auto 148px auto 148px;
}
@media screen and (max-width:1024px) {
  .places {
    max-width: 928px;
    margin:auto 48px auto 48px;
  }
}
@media screen and (max-width:768px) {
  .places {
    margin:auto 24px auto 24px;
  }
}
@media screen and (max-width:360px) {
  .places {
    margin:auto 16px auto 16px;
  }
}