.place__image {
  width: 440px;
  height: 440px;
  margin-top: 48px;
}
@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}
@media screen and (max-width: 450px) {
  .place__image {
    width: 320px;
    height: 320px;
    margin: 32px auto 0 auto;
  }
}