.cover__subtitle {
  margin: 0;
  color: #ffffff;
  width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  align-self: center;
  margin-top: 32px;
}
@media screen and (max-width: 450px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    margin-top: 16px;
  }
}
