.footer__copyright {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 480px) {
.footer__copyright {
  padding-top: 48px;
  margin-left:16px;
  font-size: 16px;
  line-height: 14px;
  text-align: left;
  min-width: 186px;
}
}
