.intro {
  padding-top: 92px;
  max-width: 984px;
  margin:auto;
}
@media screen and (max-width:1024px) {
  .intro {
    max-width: 928px;
    padding-left: 48px;

  }
}
@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin: auto;
  }
}