.footer {
  margin-left: 48px;
  margin-right: 48px;
  padding-bottom: 24px;
  padding-top: 94px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1184px;
}
@media screen  and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
  
@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 64px 0 0 0;
    padding-left: 16px;
  }
}