.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 700px) {
  .place__website {
    min-width: 340px;
    padding-top: 32px;
  }
}
@media screen and (max-width: 400px) {
  .place__website {
    font-size: 32px;
    line-height: 35px;
    min-width: 288px;
  }
}